* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat'
}


html,
body {
  height: 100%;
  min-height: 100vh;
  display: block;
  background-color: var(--second-color) !important;
  color: var(--text-color);
}

:root {
  --first-color: #4F46E5;
  --second-color: #a8bee7;
  --hover-color: #2e27b3;
  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --p-font-size: 1rem;
}

h1 {
  font-family: 'Montserrat-ExBold';
}

h2,
h3,
a {
  font-family: 'Montserrat-Bold';
}

header {
  background-color: var(--first-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: sticky;
  top: 0;
  z-index: 10;
}

header h1 {
  font-size: 1.8rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 25px;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--second-color);
}

.hero-main {
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
  padding: 50px 20px;
  background: linear-gradient(135deg, #6a5acd, #00bfff);
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.hero-main h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.hero-main p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.btn-add-project {
  background: var(--first-color);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-add-project:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 191, 255, 0.4);
  background: #2e27b3;
}

.banner-content {
  max-width: 700px;
}

.projects-grid {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px;
}

.card {
  width: 80%;
  max-width: 1000px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--p-font-size);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(79, 70, 229, 0.4);
}

.card h3 {
  margin-bottom: 10px;
  color: #1a1a1a;
}

.card p {
  flex-grow: 1;
  margin: 0;
  margin-bottom: 15px;
  color: #555;
}

.card a {
  text-decoration: none;
  color: var(--first-color);
  font-weight: 500;
  position: relative;
  display: inline-block;
  width: max-content;
  transition: color 0.3s ease;
}


.card a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--first-color);
  transition: width 0.3s ease;
}

.card a:hover {
  color: #2e27b3;
}

.card a:hover::after {
  width: 100%;
}

.card .btns-card {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.card button {
  background: var(--first-color);
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card button:hover {
  box-shadow: 0 6px 12px rgba(79, 70, 229, 0.4);
  background: #2e27b3;
}


/* Modal */
.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.form-create {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease forwards;
}

.form-create input,
.form-create textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.form-create input:focus,
.form-create textarea:focus {
  outline: none;
  border-color: var(--first-color);
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.form-create button[type="submit"] {
  padding: 12px 0;
  background: var(--first-color);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.form-create button[type="submit"]:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(79, 70, 229, 0.4);
  background: #2e27b3;
}

.form-create button[type="button"] {
  padding: 12px 0;
  background: #ccc;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.form-create button[type="button"]:hover {
  background: #b3a1a1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast,
.toastDEL {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00bfff;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}
.toast.show,
.toastDEL.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-10px);
}









.project-card {
  background: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-card h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.edit {
  color: blue;
}

.delete {
  color: red;
}


.erro {
  color: #dc3545;
  font-size: var(--p-font-size);
  height: 18px;
  font-weight: 600;
}


/* Estilização hamburg */
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.884);
  border-width: 2px;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.navbar-toggler:active {
  transform: scale(1.05);
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: rgba(255, 255, 255, 0.9) !important;
}

.offcanvas {
  background-color: var(--first-color);
  opacity: 80%;
}

.offcanvas-title {
  color: var(--white-color);
}

.offcanvas a {
  display: block;
  margin: 10px;
  font-weight: 600;
  color: var(--white-color);
}

.btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

div.hamburg {
  display: none;
}

/* ------------------ Responsividade ---------------- */




@media(max-width:768px) {
  .hero-main h1 {
    font-size: 2rem;
  }

  .hero-main p {
    font-size: 1rem;
  }
}

@media (max-width: 1000px) {

  body {
    min-height: 100dvh;
  }

  .card {
    width: 100%;
  }

  .card a {
    margin-bottom: 15px;
  }

  .toast,
  .toastDEL {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  div.hamburg {
    display: flex;
  }

  a.sair,
  a.home,
  a.perfil {
    display: none;
  }

}



@media (min-height: 800px) {

  .form-create {
    margin-top: -40%;
  }
  
}


@media (min-height: 800px) and (min-width: 1000px) {

  .form-create {
    margin-top: -7%;
  }
}

/* Nest Hub */
@media (min-height: 600px) and (min-width: 1024px) {


}

@media (min-height: 915px) {

  .form-create {
    margin-top: -45%;
  }
  
}

@media (min-height: 1100px) {
  .form-create {
    margin-top: -60%;
  }
}

@media (min-height: 1300px) {
  .form-create {
    margin-top: -65%;
    gap: 15px;
  }
}

@media (min-height: 1368px) {
  .form-create {
    margin-top: -73%;
  }
}