* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

a {
    text-decoration: none
}

body {
    height: auto;
    min-height: 100dvh;
    font-family: 'Roboto', sans-serif;
    background-color: var(--second-color);
    color: var(--first-color);
}

h1 {
    font-family: 'Montserrat-ExBold';
}

h2,
h3,
h6,
a {
    font-family: 'Montserrat-Bold';
}

:root {
    --first-color: #4F46E5;
    --second-color: #a8bee7;
    --hover-color: #2e27b3;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --p-font-size: 1rem;
}


header {
    background: var(--first-color);
    color: white;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 6;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
}

header img {
    display: inline-block;
    width: 90px;
    border: 2px solid white;
    border-radius: 50px;
}

nav a {
    margin-left: 30px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1.2rem;
}

nav a:hover {
    color: var(--second-color);
}


.hero {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/img-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 20px;
    color: white;
}

.hero>* {
    z-index: 1;

}

.hero img {
    opacity: 90%;
}

.hero::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(13 0 255 / 32%);
    z-index: 0;
}


.hero h2 {
    font-size: 40px;
    margin: 0 0 20px;
    color: white;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero-btn {
    background: var(--first-color);
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: 'Montserrat';
}


.hero-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(79, 70, 229, 0.4);
    background: var(--hover-color);
}

/* --------------------  ID Bootstrap  ------------------ */

#project-about {
    text-align: center;
}

#project-about h1 {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
    font-weight: 600;
    position: relative;
}

#project-about h1::after {
    content: "";
    display: block;
    background: var(--first-color);
    width: 80px;
    height: 4px;
    border-radius: 2px;
    margin: 0.5rem auto;

}

#project-about .card {
    background-color: white;
    border-radius: 15px;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#project-about .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.3);
}

#carousel-about {
    margin: 0 auto;
    max-width: 1000px;
    border-radius: 15px;
    border: var(--first-color) solid 3px;
    box-shadow: 0 6px 12px rgba(79, 70, 229, 0.6);
    overflow: hidden;

}

.carousel-item {
    height: 500px;
    transition: transform 0.6s ease-in-out;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    filter: brightness(0.9);
}

.carousel-caption {
    background: rgba(79, 70, 229, 0.8);
    padding: 20px 20px;
}

.carousel-caption h2,
.carousel-caption h5 {
    color: white;
    font-weight: 600;
}


.carousel-caption p {
    color: white;
}

.carousel-indicators button {
    width: 40px !important;
    height: 8px !important;
    border-radius: 5%;
    margin: 0 8px;
    background-color: rgb(2, 2, 53) !important;
}

.carousel-control-prev,
.carousel-control-next {
    width: 8%;
    opacity: 0.8;
    transition: opacity 0.3s;

}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #2e27b3 !important;
    border-radius: 50%;
    padding: 1.5rem;
    background-size: 60%;
}



/* Estilização hamburg */
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.884);
    border-width: 2px;
    border-radius: 4px;
    transition: all 0.2s ease;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.navbar-toggler:active {
    transform: scale(1.05);
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: rgba(255, 255, 255, 0.9) !important;
}

.offcanvas {
    background-color: var(--first-color);
    opacity: 80%;
}

.offcanvas-title {
   color: white;
}

.offcanvas a {
    display: block;
    margin: 10px;
    font-weight: 600;
    color: white;
}

.btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

div.hamburg {
    display: none;
}

/* ------------------ Footer ---------------- */


footer {
    margin-top: auto;
}

.foo-hero {
    background-color: var(--first-color);
    color: white;
}

.content-about {
    padding: 40px 80px;
}

.foo-header {
    background-color: var(--hover-color);
}

h6.projects-title {
    position: relative;
}

h6.projects-title::after {
    content: "";
    display: block;
    background: var(--second-color);
    width: 80px;
    height: 4px;
    border-radius: 2px;
    margin-top: 0.5rem;
    margin-bottom: 1.6rem;
    font-family: 'Montserrat' !important;
    border-bottom: 1px solid white;
}

a.foo-link {
    display: inline-block;
    font-family: 'Montserrat-Bold' !important;
    text-decoration: none;
    margin-top: 0.8rem;
    transition: all 0.3s ease;
}

a.foo-link:hover {
    transform: scale(1.1);
}



footer img {
  width: 28px;
  transition: all 0.3s;
}


footer img:hover {
    transform: scale(1.3);
}

.end-footer {
    background-color: var(--hover-color);
    margin-top: 80px;
}


/* ------------------ Responsividade ---------------- */


@media (max-width: 500px) {
    header {
        padding: 20px 50px;
    }
}
@media (max-width: 1000px) {
    div.hamburg {
        display: flex;
    }

    a.sair,
    a.projetos,
    a.perfil {
        display: none;
    }


    .carousel-caption {
        bottom: 1rem;
        padding: 1rem;
        left: 5%;
        right: 5%;
        width: 90%;
        max-width: none;
        transform: none;
    }

    .carousel-caption h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .carousel-caption p {
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .carousel-caption h2,
    .carousel-caption h5,
    .carousel-caption p {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    }

    .carousel-indicators {
        bottom: -5px;
    }

    .carousel-indicators button {
        width: 30px !important;
        height: 6px !important;
    }


    .carousel-control-prev,
    .carousel-control-next {
        width: 40%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        display: none;
    }

    h6.projects-title {
    margin-top: 40px;
}

    h6.projects-title::after {
        margin-top: 20px;
        width: 100%;
    }

}

@media (max-width: 767.98px) {
    .carousel-caption.d-none.d-md-block {
        display: block !important;
    }
}


@media (min-height: 800px) {

    .hero {
        justify-content: flex-start;
    }

    .hero h2,
    .hero p,
    .hero button {
        margin-top: 20%;
        gap: 10%;
    }

    .carousel-caption {
        bottom: 1rem;
        padding: 1rem;

    }

    .carousel-caption h2 {
        font-size: 1.5rem;
    }

    .carousel-caption p {
        font-size: 0.9rem;
    }



}

@media (min-height: 1000px) {

    .hero p,
    .hero button {
        margin-top: 5%;

    }

    .content-about {
        min-height: 70vh;
        display: flex;
        padding: 0;
    }

    .mt-5 {
        margin-top: 2rem !important;
    }


}

