* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--second-color);
  color: var(--text-color)
}

:root {
  --first-color: #4F46E5;
  --second-color: #a8bee7;
  --hover-color: #2e27b3;
  --text-color: #1a1a1a;
}

h1 {
  font-family: 'Montserrat-ExBold';
}

h2,
h3,
a,
label {
  font-family: 'Montserrat-Bold';
}

p {
  font-family: 'Montserrat';
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
}


img {
    display: inline-block;
    width: 90px;
    border-radius: 50px;
    margin-bottom: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.466);
}

.login-box {
  background: #ffffff;
  border-radius: 12px;
  padding: 40px;
  max-width: 400px;
  width: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.466);
  text-align: center;
}

.login-box h1 {
  color: var(--first-color);
  margin-bottom: 40px;
}

.login-box h3 {
  color: var(--first-color);
  margin-bottom: 20px;
}

.login-box p {
  font-size: 1.0rem;
  color: var(--text-color);
  margin-bottom: 30px;
  font-weight: 700;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  text-align: left;
}


label {
  font-weight: 700;
  color: var(--first-color);
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: border 0.3s ease;
}

input:focus {
  outline: none;
  border-color: var(--first-color);
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

button[type="submit"] {
  background: var(--first-color);
  border: none;
  padding: 12px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 191, 255, 0.4);
  background: var(--hover-color);
}

.register-text {
  margin-top: 20px;
  color: #444;
}

.register-text a {
  color: var(--first-color);
  text-decoration: none;
}

.register-text a:hover {
  color: #2e27b3;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
  display: block;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00bfff;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-10px);
}


/* Responsividade */
@media (max-width: 480px) {
  .login-box {
    max-width: 90%;
  }

  .login-box h1 {
    font-size: 1.6rem;
    margin-bottom: 25px;
  }

  .login-box p {
    font-size: 0.8rem;
  }

  input {
    font-size: 14px;
    padding: 10px;
  }

  button[type="submit"] {
    font-size: 15px;
    padding: 10px;
  }
}


@media (max-width: 380px) {
  .login-box p {
    font-size: 0.9rem;
  }
}

@media (min-height: 700px) and (max-height: 1000px) {
  .login-container {
    min-height: 80vh;
  }
}

@media (min-height: 1024px) and (max-height: 1200px) {
  .login-container {
    min-height: 70vh;
  }
}

@media (min-height: 1180px) {
  .login-container {
    min-height: 50vh;
  }
}